<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        Números = <input type="number"  step="any"  name="numbers" id=""><br>
        <input type="submit" value="Enviar">
    </form>
    {% if numero is not none %}
        <h1>Números Pares</h1>
            <ul>
            {% for par in pares %}
                <li>{{par}}</li>
            {% endfor %}
            </ul>
        <h1>Números Ímpares</h1>
            <ul>
            {% for impar in impares %}
                <li>{{impar}}</li>
            {% endfor %}
            </ul>
        <h1>Todos os números</h1>
        <ul>
            {% for i in numero %}
                <li>
                    {{ i }} -
                    {% if i|int % 2 == 0 %}
                        Par
                    {% else %}
                        Ímpar
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
